---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<!--
  @astropage
  The about page, giving a small blurp about myself.
-->

<BaseLayout title="About">
  <h1>About Me</h1>
  <h3>What is this about?</h3>
  <p>Hey, I'm Tommy, the author of this little blog.</p>
  <p>
    This site is basically a weird combination of venting and writing down
    my thoughts, as well as playing around with Astro and building something
    with it from scratch. The posts on here will probably all be related to
    my journey of getting myself into software development, weird stuff I've
    seen, things I find fascinating, and other random bla.
  </p>
  <h3>Who is this dude?</h3>
  <p>
    I'm a physicist turned IT-admin, about to turn software dev. Turns out,
    if you want to get into numerical physics, you need to do programming,
    but you are likely never being taught a sufficient amount of it during
    your undergrad. That was the situation I was in, and during my time as a
    doctoral candidate working on simulation software projects all of this
    'clicked' somehow.
  </p>
  <p>
    I didn't just limit myself to just learning the bare minimum though, so
    I dove into how to do proper software development. I taught myself the
    dreaded topic of 'algorithms and data structures', good patterns and
    structure for programs, properly taught myself the toolchains I worked
    with beyond what I needed to just keep things going in the projects I
    was working in.
  </p>
  <p>
    My journey was a bit weird, and since I had to realise that academia
    isn't something I want to work for till I retire. I took an IT job as an
    'easy' job I could still do at my institute, keep working on my thesis,
    and then transition into software development next. I want to turn this
    into my job, because not only has this become a major passion of mine,
    I think I'm pretty good at it especially considering I'm fully
    self-taught and I can actually see myself doing this for decades.
  </p>
  <h3>
    Okay, but what about the stack to build this?
  </h3>
  <p>
    So, I used AstroJS, SolidJS, and Tailwind/DaisyUI for this blog, and
    hosting it on Netlify. Before landing on AstroJS, I played around with
    NextJS as the metaframework, but it did WAY too much for what I wanted
    this site to be. I discovered AstroJS just a month or two before they
    release 1.0, and I fell in love because of its flexibility, as well as
    making it incredibly easy to just throw markdown at it for content.
  </p>
  <p>
    The fact that I can just swap what my components are built with, as
    well as mix and match different component frameworks if I wanted to, is
    absolutely fantastic. I ultimately landed on SolidJS for this, because
    it looked enough like React that I could use previous knowledge, while
    still being pretty darn easy and intuitive to use.
  </p>
</BaseLayout>

