---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Code } from 'astro/components';
---

<!--
  @astropage
  The about page, giving a small blurp about myself.
-->

<BaseLayout title="About">
  <h1>About</h1>
  <h3>What is this website about?</h3>
  <p>Hey, I'm Tommy, and this is my personal little website.</p>
  <p>
    This site serves as both my portfolio as well as blog. Initially, it
    was just a blog, but when I started to prepare myself to apply for
    software development jobs, I figured I could hijack it to also host my
    portfolio, so here we are!
  </p>
  <h3>Who am I?</h3>
  <p>
    I'm a physicist turned IT-admin, about to turn software dev. Turns out,
    if you want to get into numerical physics, you need to do programming,
    but depending on your school you may have not been taught a sufficient
    amount of it during your undergrad. That was the situation I was in,
    and during my time as a doctoral candidate working on simulation
    software projects all of this 'clicked' somehow.
  </p>
  <p>
    I didn't just limit myself to learning the bare minimum though, so I
    dove into how to do proper software development. I taught myself the
    dreaded topic of 'algorithms and data structures', good patterns and
    structure for programs, properly taught myself the toolchains I worked
    with beyond what I needed to just keep things going in the projects I
    was working in.
  </p>
  <p>
    My journey was a bit weird, and eventually I had to realise that
    academia isn't something I want to work for till I retire. I took an IT
    job as an 'easy' job I could still do at my institute, keep working on
    my thesis, and then transition into software development next. I want
    to turn this into my job, because not only has this become a major
    passion of mine, I think I'm pretty good at it especially considering
    I'm fully self-taught and I can actually see myself doing this for
    decades.
  </p>
  <h3>
    What about this website?
  </h3>
  <p>
    So, I used AstroJS, SolidJS, and Tailwind/DaisyUI for this blog, and
    hosting it on Netlify. Before landing on AstroJS, I played around with
    NextJS as the metaframework, but it did WAY too much for what I wanted
    this site to be. I discovered AstroJS just a month or two before they
    released 1.0, and I fell in love because of its flexibility, as well as
    making it incredibly easy to just throw markdown at it for content.
    Obviously, this is incredible for blogs, where you can easily draft
    them in markdown, throw that into AstroJS, and it just works.
  </p>
  <p>
    Since AstroJS also gives you the ability to write components in a bunch
    of different frameworks. Observing and playing around in the javascript
    frontend frameworks, I got really interested in SolidJS, because it has
    the - for me at least - fairly intuitive React-like syntax that I was
    already used to, but with a couple of really sick niceties like
    build-in state management, and utility components like
    <tt>&lt;For&gt;</tt>. Obviously, since this is rendered without any
    reactivity, performance is not a concern of mine here, but it is pretty
    cool to use nonetheless.
  </p>
</BaseLayout>
