---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<!--
  @astropage
  The contact page, not really containing any information at all.
-->

<BaseLayout title="Contact">
  <h1>Contact</h1>
  <p>
    I'm not stupid so I won't just put my email address here. But if there's
    something you wanna contact me for, you can just contact me via my
    Twitter or Github; links in the footer of every page.
  </p>
</BaseLayout>

