---
import BaseLayout from '../layouts/BaseLayout.astro'
import PostListItem from "../components/Main/PostListItem.svelte";

interface Frontmatter {
  title: string;
  date: string;
  draft?: boolean;
}

type Post = {
  title: string;
  date: Date;
  url: string;
  draft: boolean;
}

const posts = await Astro.glob<Frontmatter>('../pages/posts/*.md')

const postList: Post[] = posts.map(post => {
  return { 
    title: post.frontmatter.title,
    date: new Date(post.frontmatter.date),
    url: post.url,
    draft: post.frontmatter.draft || false,
  };
}).sort((a, b) => b.date.valueOf() - a.date.valueOf());
---
<BaseLayout>
  <div class="mx-10">
    <h3>A small programming-focused blog by a former physicist</h3>
    <p>
      This blog is my little foray into writing down my thoughts for sake of
      writing them down. Do not expect incredible relevations.
    </p>
    <h2>Posts:</h2>
    <!-- <ul class="menu menu-compact bg-neutral rounded-box"> -->
    <ul class="grid grid-cols-1 gap-x-[1.5rem] md:grid-cols-2 xl:grid-cols-3">
      {postList.map(post => <PostListItem title={post.title} date={post.date} href={post.url} />)}
    </ul>
  </div>
</BaseLayout>
