---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout>
  <h1>tblog</h1>
  <h3>A small programming-focused blog by a former physicist</h3>
  <p>
    This blog is my little foray into writing down my thoughts for sake of
    writing them down. Do not expect incredible relevations.
  </p>
  <h2>Posts:</h2>
</BaseLayout>
