---
import PortfolioLayout from '../layouts/PortfolioLayout.astro';
import PostListItem from "../components/Main/PostListItem";
import { Frontmatter, getSortedPosts } from "../utility/postList"
---

<!--
  @astropage
  The landing page accessed by going to `"/"` or by clicking either the logo or the home navigation
  button.
-->

<PortfolioLayout>
  <h1>captured lambda</h1>
  <h3>portolio ++ blog ++ </h3>
  <p>
    foobar
  </p>
</PortfolioLayout>
