---
import Nav from "../components/Nav/Nav.svelte";
import Footer from "../components/Footer/Footer.svelte";
import "../styles/global.css"
const { page } = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" sizes="any" />
  </head>
  <body>
    <div class="flex">
      <Nav />
      <main class="flex-1 ml-24 md:ml-44 px-5 md:px-10 lg:px-24 xl:px-40 2xl:px-60 prose">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>

