---
import "../styles/global.css"
---
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Header -->
    <div class="prose">
      <slot />
    </div>
    <!-- Footer -->
  </body>
</html>


