---
import Nav from "../components/Nav/Nav";
import Footer from "../components/Footer/Footer";
import "../styles/global.css"
const { title } = Astro.props;

/**
 * cspell:ignore color Color msapplication
 */
---

<!--
  @astrolayout
  The layout of the whole web page. Every other layout is derived from this by putting them into the
  `<slot />` in this layout.
  This layout is also used directly by the `/about` and `/contact` sections.
-->

<!--<html data-theme="dark"-->
<html>
  <head>
    <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#3d3d3d">
    <meta name="theme-color" content="#ffffff">
    <title>&#91 λ &#93: {title}</title>
  </head>
  <body>
    <!-- mobile -->
    <div class="block md:hidden">
        <Nav />
        <main class="px-5 prose max-w-none">
          <slot />
        </main>
    </div>
    <!-- desktop -->
    <div class="hidden md:block">
      <div class="flex">
        <Nav />
        <main class="flex-1 ml-14 md:ml-36 px-5 md:px-10 lg:px-24 xl:px-40 2xl:px-60 prose max-w-none">
          <slot />
        </main>
      </div>
    </div>
    <Footer />
  </body>
</html>

